XTerm*selectToClipboard:true
xterm*termName: xterm-256color
xterm*font:     *-fixed-*-*-*-8-*
xterm*faceName: Bitstream Vera Serif Mono
xterm*faceSize: 8

# include "/home/john/dotfiles_X220/colorscheme_molokai"

!! rofi options
rofi.modi:                           window,run,ssh,combi
